Here's a list of the talks that I've given since 2015:

<table>
   <tr>
      <th>Date</th>
      <th>Event</th>
      <th>Type</th>
      <th>Location</th>
      <th>Attendee count</th>
      <th>Links</th>
   </tr>
   <tr>
      <td>4/22/2015</td>
      <td>Android GDEs</td>
      <td>Hangout-on-air</td>
      <td>SFO</td>
      <td>40</td>
      <td></td>
   </tr>
   <tr>
      <td>7/29/2015</td>
      <td>Google internal</td>
      <td>Techtalk</td>
      <td>Boston, MA</td>
      <td>25</td>
      <td></td>
   </tr>
   <tr>
      <td>7/31/2015</td>
      <td>AnDevCon GDG meetup</td>
      <td>Presentation</td>
      <td>Boston, MA</td>
      <td>80</td>
      <td><a href="https://www.meetup.com/boston-android/events/223364440/">Meetup</a></td>
   </tr>
   <tr>
      <td>8/11/2015</td>
      <td>GDG organizers India</td>
      <td>Hangout-on-air</td>
      <td>SFO</td>
      <td>25</td>
      <td><a href="https://www.youtube.com/live/-JgwUOVQ2So"> video</a></td>
   </tr>
   <tr>
      <td>8/28/2015</td>
      <td>Droidcon</td>
      <td>Codelab</td>
      <td>New York, NY</td>
      <td>30</td>
      <td></td>
   </tr>
   <tr>
      <td>10/5/2015</td>
      <td>Building Blocks</td>
      <td>Hackathon</td>
      <td>Manchester, UK</td>
      <td>30</td>
      <td></td>
   </tr>
   <tr>
      <td>10/5/2015</td>
      <td>Manchester meetup</td>
      <td>Meetup</td>
      <td>Manchester, UK</td>
      <td>30</td>
      <td><a href="http://blog.building-blocks.com/news/bb-to-host-firebase-google-meetup-5-oct-2015">blog</a></td>
   </tr>
   <tr>
      <td>10/8/2015</td>
      <td>Amsterdam meetup</td>
      <td>Meetup</td>
      <td>Amsterdam, NL</td>
      <td>60</td>
      <td><a href="https://www.eventbrite.com/e/building-better-apps-with-firebase-tickets-18746337801?aff=ebrowse">eventbrite</a></td>
   </tr>
   <tr>
      <td>10/10/2015</td>
      <td>Devfest NL</td>
      <td>Presentation</td>
      <td>Amsterdam, NL</td>
      <td>130</td>
      <td><a href="http://2015.devfest.nl/schedule/#session-208">link</a></td>
   </tr>
   <tr>
      <td>10/10/2015</td>
      <td>Devfest NL</td>
      <td>Codelab</td>
      <td>Amsterdam, NL</td>
      <td>25</td>
      <td></td>
   </tr>
   <tr>
      <td>12/1/2015</td>
      <td>AnDevCon</td>
      <td>Presentation</td>
      <td>Santa Clara, CA</td>
      <td>30</td>
      <td><a href="http://www.andevcon.com/santaclara/classes#BuildingaMobileApplicationwithFirebase">Talk</a></td>
   </tr>
   <tr>
      <td>2/4/2016</td>
      <td>Studyjam</td>
      <td>Hangout-on-air</td>
      <td>MTV</td>
      <td></td>
      <td><a href="https://youtu.be/fgOwEHESozc?t=1h4m8s">Video</a></td>
   </tr>
   <tr>
      <td>2/15/2016</td>
      <td>Android UG NL</td>
      <td>Meetup</td>
      <td>Amsterdam, NL</td>
      <td>35</td>
      <td><a href="https://plus.sandbox.google.com/113182948271879290904/posts/FPU38AkZppU">G+</a>, <a href="http://www.meetup.com/dutch-aug/events/228745912/">Meetup</a></td>
   </tr>
   <tr>
      <td>2/16/2016</td>
      <td>Cloud GDG NL</td>
      <td>Meetup</td>
      <td>Amsterdam, NL</td>
      <td>50</td>
      <td><a href="http://www.gdgnetherlands.org/events-gdgcloudfirebase.html">Announcement</a>, <a href="https://vimeo.com/156230503">Video</a></td>
   </tr>
   <tr>
      <td>2/17/2016</td>
      <td>SDL Tridion</td>
      <td>Presentation</td>
      <td>Amsterdam, NL</td>
      <td>10</td>
      <td></td>
   </tr>
   <tr>
      <td>2/18/2016</td>
      <td>Partner training</td>
      <td>Training</td>
      <td>Amsterdam, NL</td>
      <td>10</td>
      <td><a href="https://docs.google.com/a/google.com/forms/d/1-wdvowClGZXDQpRt9cySKejmaDe-nPeUMnjaRnuRHPk/viewform">Form</a></td>
   </tr>
   <tr>
      <td>2/22/2016</td>
      <td>GDG Oxford</td>
      <td></td>
      <td>Oxford, UK</td>
      <td>25</td>
      <td><a href="http://www.meetup.com/GDG-Oxford/events/228256859/">Meetup</a>, <a href="http://www.meetup.com/DevelopOxford/events/228885632/">Meetup</a>, <a href="http://www.meetup.com/Startup-Motor/events/228583308/">Meetup</a></td>
   </tr>
   <tr>
      <td>2/23/2016</td>
      <td>Android GDG</td>
      <td></td>
      <td>London, UK</td>
      <td>40</td>
      <td><a href="http://www.meetup.com/android/events/228634198/">Meetup</a></td>
   </tr>
   <tr>
      <td>2/25/2016</td>
      <td>Google internal</td>
      <td>Techtalk</td>
      <td>Munich, DE</td>
      <td>25</td>
      <td><a href="https://calendar.google.com/calendar/render?action=VIEW&eid=M29tamw2NjVtczI3YjNxNTRyOXUwMGhkYWMgcHVmQGdvb2dsZS5jb20&ctz=Europe/Amsterdam&hl=en&sf=true&output=xml#eventpage_6">gcal invite</a></td>
   </tr>
   <tr>
      <td>2/25/2016</td>
      <td>GDG</td>
      <td></td>
      <td>Munich, DE</td>
      <td>30</td>
      <td><a href="https://plus.sandbox.google.com/u/0/+KatharinaLindenthal11/posts/U58w2rdWPW7?cfem=1">G+</a>, <a href="http://www.meetup.com/GDG-Munich-Android/events/228748589/">Meetup</a></td>
   </tr>
   <tr>
      <td>2/26/2016</td>
      <td>GDG</td>
      <td></td>
      <td>Karlsruhe, DE</td>
      <td>30</td>
      <td><a href="http://www.meetup.com/GDG-Karlsruhe/events/228613913/">Meetup</a>, <a href="https://youtu.be/_tyrAn0cFY8">Video</a></td>
   </tr>
   <tr>
      <td>2/27/2016</td>
      <td>GDG</td>
      <td></td>
      <td>Hamburg, DE</td>
      <td>40</td>
      <td><a href="http://www.meetup.com/Google-Developer-Group-Hamburg/events/228632811/">Meetup</a></td>
   </tr>
   <tr>
      <td>2/28/2016</td>
      <td>GDG</td>
      <td></td>
      <td>Berlin, DE</td>
      <td>55</td>
      <td><a href="http://www.meetup.com/gdgberlin/events/229021639/">Meetup</a></td>
   </tr>
   <tr>
      <td>3/8/2016</td>
      <td>Google internal (BizDev)</td>
      <td>Training</td>
      <td>Mountain View</td>
      <td>30</td>
      <td><a href="https://drive.google.com/open?id=0B4MJwA07b_T_MElnWk5NTGoyRGc">Video</a></td>
   </tr>
   <tr>
      <td>3/17/2016</td>
      <td>Droidcon</td>
      <td>Presentation</td>
      <td>San Francisco, CA</td>
      <td>100</td>
      <td><a href="http://sf.droidcon.com/#lineup">Site</a>, <a href="https://youtu.be/Yt75ZIGdJ4Y?list=PLnVy79PaFHMXpPlgs1uUny8eb-PEfEQNn">Video</a></td>
   </tr>
   <tr>
      <td>5/11/2016</td>
      <td>Apps World</td>
      <td>Presentation</td>
      <td>Santa Clara, CA</td>
      <td>50</td>
      <td><a href="https://na.apps-world.net/agenda/day-2/">Site</a>, <a href="https://twitter.com/CodingDoug/status/730461906268364801">Tweet</a>, <a href="https://twitter.com/Apps_World/status/730459744889114624">Tweet</a></td>
   </tr>
   <tr>
      <td>5/20/2016</td>
      <td>Google I/O</td>
      <td></td>
      <td>MTV</td>
      <td>500</td>
      <td><a href="https://events.google.com/io2016/schedule?sid=c8641ff7-0bef-e511-a517-00155d5066d7#day3/c8641ff7-0bef-e511-a517-00155d5066d7">Site</a>, <a href="https://www.youtube.com/watch?v=xAsvwy1-oxE">Video</a></td>
   </tr>
   <tr>
      <td>5/26/2016</td>
      <td>GDG meetup</td>
      <td></td>
      <td>New York, NY</td>
      <td>120</td>
      <td><a href="https://docs.google.com/document/d/1ZzNHWlQ8VE3OuY2jDiWAGRMDW8VatPuhoK_07JOKYs0/edit">report</a></td>
   </tr>
   <tr>
      <td>5/27/2016</td>
      <td>ServerlessConf</td>
      <td></td>
      <td>New York, NY</td>
      <td>200</td>
      <td><a href="https://twitter.com/DanielKrook/status/736210604336254977">tweet</a>, video, <a href="http://thenewstack.io/serverless-computing-use-cases-image-processing-social-cognition/">article</a>, <a href="http://thenewstack.io/google-firebase-trims-middle-tier-faster-app-dev/">article</a></td>
   </tr>
   <tr>
      <td>6/2/2016</td>
      <td>Qlouder Webinar</td>
      <td>Webcast</td>
      <td>Netherlands</td>
      <td></td>
      <td><a href="https://www.youtube.com/watch?v=cJYDlrAIecY">video</a></td>
   </tr>
   <tr>
      <td>8/1/2016</td>
      <td>AnDevCon Boston</td>
      <td>Presentation</td>
      <td>Boston, MA</td>
      <td>50</td>
      <td><a href="http://www.andevcon.com/boston2016/sessions#ZerotoApp">site</a>, <a href="https://twitter.com/ykro/status/760139163211538432">tweet</a>, <a href="https://twitter.com/SRobTweets/status/760132914164137985">tweet</a>, <a href="https://twitter.com/timothyjordan/status/760126586653904896">tweet</a>, <a href="https://twitter.com/timothyjordan/status/760126586653904896">tweet</a>, <a href="https://docs.google.com/document/d/1KJ0Bk87XecgKIW06iEQNGGOjgV8CjOgxA-2fb0vuj4A/edit?ts=57aa1efd">event report</a></td>
   </tr>
   <tr>
      <td>8/2/2016</td>
      <td>AnDevCon Boston</td>
      <td>Hackathon</td>
      <td>Boston, MA</td>
      <td>25</td>
      <td><a href="http://www.andevcon.com/boston2016/specialevents">site</a>, <a href="http://www.andevcon.com/andevcon-boston-2016-google-learning-zone">winners</a></td>
   </tr>
   <tr>
      <td>9/23/2016</td>
      <td>DevFest DC</td>
      <td>Presentation</td>
      <td>McLean, VA</td>
      <td>200</td>
      <td><a href="http://www.devfestdc.org/sessions/#frank-google">site</a>, <a href="https://www.youtube.com/watch?v=OZY3ZBzhj1k">video</a>, <a href="https://twitter.com/mquirion/status/779322675181289472">tweet</a>, <a href="https://twitter.com/RobbieTheGeek/status/779322992367198208">tweet</a>, <a href="https://twitter.com/josh_metcalfe/status/779326628908367872">tweet</a>, <a href="https://twitter.com/KevinDavisSEA/status/779330479862456320">tweet</a>, <a href="https://twitter.com/ankitminocha/status/779334031049711617">tweet</a>, <a href="https://twitter.com/venikunche/status/779334564296658944">tweet</a>, <a href="https://twitter.com/RobbieTheGeek/status/779375116677439488">tweet</a>, <a href="https://docs.google.com/document/d/1k9A9QCvfGjB_zFbe9qnyYNH5bFTjYM40MDu4Vi4EQgI/edit">trip report</a></td>
   </tr>
   <tr>
      <td>9/24/2016</td>
      <td>DevFest DC</td>
      <td>Codelab</td>
      <td>McLean, VA</td>
      <td>75</td>
      <td><a href="https://twitter.com/bretmcg/status/779742064082903040?cn=bWVudGlvbg%3D%3D&refsrc=email">tweet</a>, <a href="https://twitter.com/martinomander/status/779742188242604032">tweet</a>, <a href="https://twitter.com/gdevdc/status/779752807335362560">tweet</a>, <a href="https://twitter.com/ComputationCom/status/779738219239710720">tweet</a>, <a href="https://twitter.com/josh_metcalfe/status/780100414922383360">tweet</a></td>
   </tr>
   <tr>
      <td>10/8/2016</td>
      <td>DevFest NL</td>
      <td>Staff</td>
      <td>Amsterdam, NL</td>
      <td>550</td>
      <td><a href="https://twitter.com/puf/status/784636200036528128">tweet</a>, <a href="https://twitter.com/puf/status/784678570459365376">tweet</a>, <a href="https://twitter.com/ladyleet/status/784747869639147520">tweet</a>, <a href="https://twitter.com/ladyleet/status/784751010380124160">tweet</a>, <a href="https://twitter.com/Puigcerber/status/784726397399031808">tweet</a>, <a href="https://twitter.com/puf/status/784746360834785280">tweet</a>, <a href="https://twitter.com/_ginderella/status/784707565045346304">tweet</a>, <a href="https://twitter.com/shogendoorn/status/784714574591393792">tweet</a>, <a href="https://twitter.com/_ginderella/status/784694864927662080">tweet</a>, <a href="https://docs.google.com/document/d/1zmudqapZtsMB9xtCkM10DGi6KJXdMXDdF3XEtnNQWLk/edit">event report</a></td>
   </tr>
   <tr>
      <td>10/14/2016</td>
      <td>DevFest Hamburg</td>
      <td>Presentation</td>
      <td>Hamburg, DE</td>
      <td>75</td>
      <td><a href="https://docs.google.com/document/d/1ihFX3jfuA2SHYaR0i7dct1hXEwjGLrPZLznDw6TLTXk/edit">report</a></td>
   </tr>
   <tr>
      <td>10/15/2016</td>
      <td>DevFest Hamburg</td>
      <td>Codelab</td>
      <td>Hamburg, DE</td>
      <td>25</td>
      <td><a href="https://docs.google.com/document/d/1ihFX3jfuA2SHYaR0i7dct1hXEwjGLrPZLznDw6TLTXk/edit">report</a></td>
   </tr>
   <tr>
      <td>11/7/2016</td>
      <td>Firebase Dev Summit</td>
      <td>Presentation</td>
      <td>Berlin, DE</td>
      <td>450</td>
      <td></td>
   </tr>
   <tr>
      <td>11/7/2016</td>
      <td>Firebase Dev Summit</td>
      <td>Office Hours</td>
      <td>Berlin, DE</td>
      <td>75</td>
      <td></td>
   </tr>
   <tr>
      <td>11/14/2016</td>
      <td>Experts Summit</td>
      <td>Keynote segment</td>
      <td>Mountain view</td>
      <td>250</td>
      <td></td>
   </tr>
   <tr>
      <td>11/18/2016</td>
      <td>DevFest NYC</td>
      <td>Presentation</td>
      <td>New York, NY</td>
      <td>20</td>
      <td><a href="https://docs.google.com/document/d/1cgMMw-CATOraaMTuqbUNg1XM4pWjb0mCSP73k_-RHFk/edit">report</a></td>
   </tr>
   <tr>
      <td>11/30/2016</td>
      <td>AnDevCon SF</td>
      <td>Presentation</td>
      <td>Burlingame, CA</td>
      <td>45</td>
      <td><a href="https://docs.google.com/document/d/10YvOORawjDhr2wX7ARlXdCSoMTltG8Jxz9En1GP6rY4/edit?ts=582e0450">script</a></td>
   </tr>
   <tr>
      <td>3/9/2017</td>
      <td>Cloud Next</td>
      <td>Presentation</td>
      <td>San Francisco, CA</td>
      <td>350</td>
      <td><a href="https://www.youtube.com/watch?v=VHIoXPgOR90">video</a></td>
   </tr>
   <tr>
      <td>4/13/2017</td>
      <td>Solutions Showcase for Media Lighthouse</td>
      <td>Mixer</td>
      <td>Amsterdam, NL</td>
      <td>50</td>
      <td></td>
   </tr>
   <tr>
     <td>10/8/2016
     </td>
     <td>DevFest NL
     </td>
     <td>Staff
     </td>
     <td>Amsterdam, NL
     </td>
     <td>550
     </td>
     <td><a href="https://twitter.com/puf/status/784636200036528128">tweet</a>, <a href="https://twitter.com/puf/status/784678570459365376">tweet</a>, <a href="https://twitter.com/ladyleet/status/784747869639147520">tweet</a>, <a href="https://twitter.com/ladyleet/status/784751010380124160">tweet</a>, <a href="https://twitter.com/Puigcerber/status/784726397399031808">tweet</a>, <a href="https://twitter.com/puf/status/784746360834785280">tweet</a>, <a href="https://twitter.com/_ginderella/status/784707565045346304">tweet</a>, <a href="https://twitter.com/shogendoorn/status/784714574591393792">tweet</a>, <a href="https://twitter.com/_ginderella/status/784694864927662080">tweet</a>, <a href="https://docs.google.com/document/d/1zmudqapZtsMB9xtCkM10DGi6KJXdMXDdF3XEtnNQWLk/edit">event report</a>
     </td>
    </tr>
    <tr>
     <td>10/14/2016
     </td>
     <td>DevFest Hamburg
     </td>
     <td>Presentation
     </td>
     <td>Hamburg, DE
     </td>
     <td>75
     </td>
     <td><a href="https://docs.google.com/document/d/1ihFX3jfuA2SHYaR0i7dct1hXEwjGLrPZLznDw6TLTXk/edit">report</a>
     </td>
    </tr>
    <tr>
     <td>10/15/2016
     </td>
     <td>DevFest Hamburg
     </td>
     <td>Codelab
     </td>
     <td>Hamburg, DE
     </td>
     <td>25
     </td>
     <td><a href="https://docs.google.com/document/d/1ihFX3jfuA2SHYaR0i7dct1hXEwjGLrPZLznDw6TLTXk/edit">report</a>
     </td>
    </tr>
    <tr>
     <td>11/7/2016
     </td>
     <td>Firebase Dev Summit
     </td>
     <td>Presentation
     </td>
     <td>Berlin, DE
     </td>
     <td>450
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>11/7/2016
     </td>
     <td>Firebase Dev Summit
     </td>
     <td>Office Hours
     </td>
     <td>Berlin, DE
     </td>
     <td>75
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>11/14/2016
     </td>
     <td>Experts Summit
     </td>
     <td>Keynote segment
     </td>
     <td>Mountain view
     </td>
     <td>250
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>11/18/2016
     </td>
     <td>DevFest NYC
     </td>
     <td>Presentation
     </td>
     <td>New York, NY
     </td>
     <td>20
     </td>
     <td><a href="https://docs.google.com/document/d/1cgMMw-CATOraaMTuqbUNg1XM4pWjb0mCSP73k_-RHFk/edit">report</a>
     </td>
    </tr>
    <tr>
     <td>11/30/2016
     </td>
     <td>AnDevCon SF
     </td>
     <td>Presentation
     </td>
     <td>Burlingame, CA
     </td>
     <td>45
     </td>
     <td><a href="https://docs.google.com/document/d/10YvOORawjDhr2wX7ARlXdCSoMTltG8Jxz9En1GP6rY4/edit?ts=582e0450">script</a>
     </td>
    </tr>
    <tr>
     <td>3/9/2017
     </td>
     <td>Cloud Next
     </td>
     <td>Presentation
     </td>
     <td>San Francisco, CA
     </td>
     <td>350
     </td>
     <td><a href="https://www.youtube.com/watch?v=VHIoXPgOR90">video</a>
     </td>
    </tr>
    <tr>
     <td>4/13/2017
     </td>
     <td>Solutions Showcase for Media Lighthouse
     </td>
     <td>Mixer
     </td>
     <td>Amsterdam, NL
     </td>
     <td>50
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>5/18/2017
     </td>
     <td>Google I/O
     </td>
     <td>Presentation
     </td>
     <td>Mountain View
     </td>
     <td>600
     </td>
     <td><a href="https://events.google.com/io/schedule/?section=may-18&sid=a553cfd3-5deb-43f7-8e88-1e6a63df2919">site</a>, <a href="https://www.youtube.com/watch?v=01M_hZav9Gw">video</a>
     </td>
    </tr>
    <tr>
     <td>6/8/2017
     </td>
     <td>Cloud Next Madrid
     </td>
     <td>Presentation
     </td>
     <td>Madrid, Spain
     </td>
     <td>125
     </td>
     <td><a href="https://cloudplatformonline.com/Next-Madrid-2017-Speakers.html">site</a>, <a href="https://twitter.com/TresssDes/status/872831687360688131">tweet</a>, <a href="https://twitter.com/ernestopino/status/872841094798729218">tweet</a>, <a href="https://twitter.com/puf/status/872853002796838912">tweet</a>, <a href="https://twitter.com/XavierFoguet/status/872836177405071360">tweet</a>, <a href="https://twitter.com/carlosazaustre/status/872820276098105344">tweet</a>, <a href="https://twitter.com/puf/status/872454613819117568">tweet</a>, <a href="https://twitter.com/jsayol/status/871733902360162304">tweet</a>
     </td>
    </tr>
    <tr>
     <td>10/30/2017
     </td>
     <td>Firebase Summit
     </td>
     <td>MC
     </td>
     <td>Amsterdam, NL
     </td>
     <td>550
     </td>
     <td><a href="https://youtu.be/ivc3kWh6K8w?t=14m51s">video</a>
     </td>
    </tr>
    <tr>
     <td>1/18/2018
     </td>
     <td>Cloud Accelerate
     </td>
     <td>Presentation
     </td>
     <td>Las Vegas, NV
     </td>
     <td>150
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>2/14/2018
     </td>
     <td>ServerlessConf Paris
     </td>
     <td>Workshop
     </td>
     <td>Paris, France
     </td>
     <td>25
     </td>
     <td><a href="https://docs.google.com/presentation/d/1xiA8TsPuUw4zaxddck_bXiJXsdsOXHmX8iKVO_yuDPs">slides</a>, <a href="https://twitter.com/puf/status/963703391577718784">twee</a>t, <a href="https://twitter.com/d2si/status/963704343751995392">tweet</a>
     </td>
    </tr>
    <tr>
     <td>2/16/2018
     </td>
     <td>JeffConf Hamburg
     </td>
     <td>Attend to check community
     </td>
     <td>Hamburg, DE
     </td>
     <td>200
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>6/22/2018
     </td>
     <td>SFHTML5
     </td>
     <td>Presentation
     </td>
     <td>San Francisco, CA
     </td>
     <td>200
     </td>
     <td><a href="https://www.youtube.com/watch?v=mx1mMdHBi5Q">video</a>, <a href="https://twitter.com/Sandondu94/status/1010338299079155712">tweet</a>, <a href="https://twitter.com/mike_a_i/status/1010338471938945025">tweet</a>, <a href="https://twitter.com/peterlubbers/status/1010339279610843136">tweet</a>, <a href="https://twitter.com/omichelsen/status/1010345191801176065">tweet</a>, <a href="https://twitter.com/Sandondu94/status/1010349525322514433">tweet</a>, <a href="https://twitter.com/peterlubbers/status/1010349829417889794">tweet</a>, <a href="https://twitter.com/nj_raju/status/1010353312321826816">tweet</a>, <a href="https://twitter.com/puf/status/1010323102364925953">tweet</a>, <a href="https://twitter.com/angularfirebase/status/1010495833907736576">tweet</a>,
  <p>
  <a href="https://twitter.com/khantilchoksi/status/1010569859720101888">tweet</a>, <a href="https://twitter.com/ac7ionabl3/status/1010568262793363456">tweet</a>, \
  <a href="https://www.meetup.com/sfhtml5/photos/28999939/472266337/#472266455">photos</a>
     </td>
    </tr>
    <tr>
     <td>6/27/2018
     </td>
     <td>HTTP cafe podcast
     </td>
     <td>Podcast interview
     </td>
     <td>
     </td>
     <td>
     </td>
     <td><a href="https://soundcloud.com/httpcafe/aflevering-27-puf-van-firebase">audio</a>
     </td>
    </tr>
    <tr>
     <td>7/7/2018
     </td>
     <td>WTM Summit
     </td>
     <td>Assistant in workshop
     </td>
     <td>Madrid, Spain
     </td>
     <td>25
     </td>
     <td><a href="https://twitter.com/carlosazaustre/status/1015599417171333121">tweet</a>
     </td>
    </tr>
    <tr>
     <td>10/29/2018
     </td>
     <td>Firebase Summit
     </td>
     <td>Host / Emcee
     </td>
     <td>Prague, Czechia
     </td>
     <td>750
     </td>
     <td><a href="https://youtu.be/vlo53WGxKog?t=1013">livestream</a>
     </td>
    </tr>
    <tr>
     <td>10/29/2018
     </td>
     <td>Firebase Summit
     </td>
     <td>Presentation
     </td>
     <td>Prague, Czechia
     </td>
     <td>500
     </td>
     <td><a href="https://www.youtube.com/watch?v=DS3gz72atew">video</a>
     </td>
    </tr>
    <tr>
     <td>5/7/2019
     </td>
     <td>Google I/O
     </td>
     <td>Presentation
     </td>
     <td>Mountain View, CA
     </td>
     <td>1000
     </td>
     <td><a href="https://www.youtube.com/watch?v=gvbq12bGqHI">video</a>
     </td>
    </tr>
    <tr>
     <td>9/26/2019
     </td>
     <td>Firebase Summit
     </td>
     <td>Host / Emcee
     </td>
     <td>Madrid, Spain
     </td>
     <td>1000
     </td>
     <td><a href="https://youtu.be/k5qJ6F_g5f0?t=2145">video</a>, <a href="https://youtu.be/k5qJ6F_g5f0?t=6072">video</a>, <a href="https://youtu.be/k5qJ6F_g5f0?t=15500">video</a>, <a href="https://youtu.be/k5qJ6F_g5f0?t=30423">video</a> 
     </td>
    </tr>
    <tr>
     <td>10/26/2019
     </td>
     <td>Global GDE Summit
     </td>
     <td>Speaker
     </td>
     <td>Sunnyvale, CA
     </td>
     <td>30
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>11/5/2019
     </td>
     <td>Tridion Developer Summit
     </td>
     <td>Keynote Speaker
     </td>
     <td>Amsterdam, NL
     </td>
     <td>100
     </td>
     <td><a href="http://2019.tridiondevelopersummit.com/events/keynote-why-happiness-is-the-road/">site</a>, <a href="https://vimeo.com/377008088">video</a> 
     </td>
    </tr>
    <tr>
     <td>4/16/2020
     </td>
     <td>GDG Fremont online meetup
     </td>
     <td>Host / facilitator
     </td>
     <td>online
     </td>
     <td>15
     </td>
     <td><a href="https://www.meetup.com/GDG-Fremont/events/269842340/">meetup</a>
     </td>
    </tr>
    <tr>
     <td>5/20/2020
     </td>
     <td>Virtual meetup
     </td>
     <td>Presenter
     </td>
     <td>online
     </td>
     <td>45
     </td>
     <td><a href="https://twitter.com/Firebase/status/1260962440746917890">tweet</a>
     </td>
    </tr>
    <tr>
     <td>8/20/2020
     </td>
     <td>DevParty UK
     </td>
     <td>Q&A
     </td>
     <td>online
     </td>
     <td>50
     </td>
     <td><a href="https://youtu.be/8x9dTkcZAy8?t=5210">video</a>
     </td>
    </tr>
    <tr>
     <td>8/22/2020
     </td>
     <td>GDG/WTM meetup
     </td>
     <td>Presenter
     </td>
     <td>online
     </td>
     <td> 250
     </td>
     <td><a href="https://youtu.be/hawcfq3KN3g">video</a>, <a href="https://twitter.com/lindakovacsart/status/1297312543069941761">tweet with pics</a>, <a href="https://www.linkedin.com/posts/cloud-study-network_live-coding-with-firebase-stackblitz-by-activity-6703018219713642496-a0iw">linkedin</a>
     </td>
    </tr>
    <tr>
     <td>10/27/2020
     </td>
     <td>Intro to FireConf
     </td>
     <td>Host
     </td>
     <td>online
     </td>
     <td>2275
     </td>
     <td><a href="https://youtu.be/lAbNYQPUGYM?t=929">video</a>
     </td>
    </tr>
    <tr>
     <td>10/28/2020
     </td>
     <td>Zero to app
     </td>
     <td>Presenter
     </td>
     <td>online
     </td>
     <td>750
     </td>
     <td><a href="https://youtu.be/XdJVtvJpg1I?t=930">livestream</a>, <a href="https://youtu.be/rwrUezKCc34">video</a>
     </td>
    </tr>
    <tr>
     <td>10/29/2020
     </td>
     <td>FireConf Finale (internal game show)
     </td>
     <td>Host/presenter
     </td>
     <td>online
     </td>
     <td>125
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>10/31/2020
     </td>
     <td>DevFest GDG Northeast USA
     </td>
     <td>Presenter
     </td>
     <td>online
     </td>
     <td>600
     </td>
     <td><a href="https://youtu.be/CKIbw52yVRo?t=2761">video</a>, <a href="https://b.corp.google.com/issues/166119463">bug</a>
     </td>
    </tr>
    <tr>
     <td>11/17/2020
     </td>
     <td>Droidcon Americas
     </td>
     <td>Panel member
     </td>
     <td>online
     </td>
     <td>100
     </td>
     <td><a href="https://www.talque.com/app#/app/org/org-event/W6l4pVLBObMQrEaVwkqa/NcyVZ3Gk2EB1QhmBhMOg/info">site</a>, <a href="https://www.droidcon.com/media-detail?video=481211846">video</a>
     </td>
    </tr>
    <tr>
     <td>2/4/2021
     </td>
     <td>DevRelConf: Stack Overflow
     </td>
     <td>Presenter
     </td>
     <td>online
     </td>
     <td>50
     </td>
     <td><a href="https://eventsonair.withgoogle.com/events/devrelconf-2021/watch?talk=build-engage-community">video</a>
     </td>
    </tr>
    <tr>
     <td>3/3/2021
     </td>
     <td>Flutter Engage
     </td>
     <td>Q&A SME
     </td>
     <td>online
     </td>
     <td>8,100
     </td>
     <td><a href="https://youtu.be/yll3SNXvQCw?t=5342">livestream</a>, <a href="https://youtu.be/yll3SNXvQCw?t=5342">vod</a>
     </td>
    </tr>
    <tr>
     <td>5/18/2021
     </td>
     <td>Firebase I/O APAC meetup
     </td>
     <td>Host
     </td>
     <td>online
     </td>
     <td>55
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>5/19/2021
     </td>
     <td>Firebase I/O Americas meetup
     </td>
     <td>Host
     </td>
     <td>online
     </td>
     <td>80
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>5/19/2021
     </td>
     <td>#AskFirebase AMA @ I/O
     </td>
     <td>Host
     </td>
     <td>online
     </td>
     <td>
     </td>
     <td><a href="https://www.youtube.com/watch?v=3BMNzY_ljSw">VOD</a>, livestream
     </td>
    </tr>
    <tr>
     <td>5/19/2021
     </td>
     <td>Flutter + Firebase workshop
     </td>
     <td>TA
     </td>
     <td>online
     </td>
     <td>75
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>5/27/2021
     </td>
     <td>I/O Finale gameshow
     </td>
     <td>Host/presenter
     </td>
     <td>online
     </td>
     <td>90
     </td>
     <td><a href="https://docs.google.com/spreadsheets/d/1JYqpe3sWgYhh-OxaQ5r_HvzD0QBJslRyIiCHrHPRKxU/edit#gid=1328223206">questions and results</a>
     </td>
    </tr>
    <tr>
     <td>9/9/2021
     </td>
     <td>Flutter GDE meetup
     </td>
     <td>Invite Flutter GDEs to speak at FireConf
     </td>
     <td>online
     </td>
     <td>35
     </td>
     <td><a href="https://drive.google.com/file/d/1-zgeHkCS2Xrs96IQSd2a40QI2D_WAmjM/view">video</a>
     </td>
    </tr>
    <tr>
     <td>11/13/2021
     </td>
     <td>DevFest Northeast
     </td>
     <td>AMA speaker with ptruiz
     </td>
     <td>online
     </td>
     <td>165
     </td>
     <td>livestream <a href="https://gdg.community.dev/boe/conference/39789/agenda">site</a>, <a href="https://www.youtube.com/watch?v=TgzD7zEwNmc&t=12616s">vod</a>
     </td>
    </tr>
    <tr>
     <td>12/3/2021
     </td>
     <td>Firebase Christmas Party
     </td>
     <td>Host for kick-off and closing ceremonies
     </td>
     <td>online
     </td>
     <td>150
     </td>
     <td><a href="https://screenshot.googleplex.com/BqzUuJqvV8ffrnp">pic</a>
     </td>
    </tr>
    <tr>
     <td>1/13/2022
     </td>
     <td>Flutter GDE meetup
     </td>
     <td>Teaser for StackOverflow community month
     </td>
     <td>online
     </td>
     <td>35
     </td>
     <td><a href="https://docs.google.com/presentation/d/1nN_XtbWOjXn4WLyaC0fpcUiWOmUT6Kx2TOFs9dB60rw/edit?hl=en#slide=id.p">deck</a>, <a href="https://drive.google.com/file/d/1Bl6fEm2ajwx8FIBfpBVONOZ4g_n8iJ4V/view">video</a>
     </td>
    </tr>
    <tr>
     <td>2​/2/2022
     </td>
     <td>Flutter Vikings
     </td>
     <td>Presenter
     </td>
     <td>online
     </td>
     <td>600-700 concurrents
     </td>
     <td><a href="https://docs.google.com/document/d/1-4btt4eJzfszEcpr9EcEdva1d0-2hQPaGPmh7vxTwlc/edit">doc</a>, <a href="https://docs.google.com/presentation/d/1Jo-e_y2CJgCD77fUZNq5dv8BvDAlo1oVtzvVwhoUetk/edit#slide=id.g89e95fdeb1_0_57">slides</a>, <a href="https://youtu.be/50qRPvg0CJg?t=25204s">livestream</a>, video, <a href="https://www.youtube.com/watch?v=50qRPvg0CJg&t=26855s">game play</a>, <a href="https://docs.google.com/document/d/11c5Jwah9Lrc1W0Wc-2wmws2XL371-T5Ezh9Mz1jWkTk/edit?resourcekey=0-QaVvavVIOND8PyBsY9KkmA#">report</a>
     </td>
    </tr>
    <tr>
     <td>2/3/2022
     </td>
     <td>Flutter Vikings
     </td>
     <td>AMA speaker
     </td>
     <td>online
     </td>
     <td>600 concurrents
     </td>
     <td><a href="https://youtu.be/qFHSMISkguw?t=24171">livestream</a>, <a href="https://www.youtube.com/watch?v=YWvHARTFGFc&list=PL4dBIh1xps-Emd7K4xwX4rdUnfaKFMuna&index=27">vod</a>, <a href="https://docs.google.com/document/d/11c5Jwah9Lrc1W0Wc-2wmws2XL371-T5Ezh9Mz1jWkTk/edit?resourcekey=0-QaVvavVIOND8PyBsY9KkmA#">report</a>
     </td>
    </tr>
    <tr>
     <td>2/10/2022
     </td>
     <td>DevRelConf
     </td>
     <td>Presenter in lightning talk
     </td>
     <td>online
     </td>
     <td>125 concurrents
     </td>
     <td><a href="https://eventsonair.withgoogle.com/events/drc-2022/watch?talk=amer-day2-etc2">vod</a>, <a href="https://docs.google.com/presentation/d/1RlKGq5u5Y94tDQLWS8r9Z1Qzq1mqEfpVt05JKcfoB9k/edit?resourcekey=0-ACSo-aH5ZKyMBDkx0z2cwA">deck</a>, 
      <a href="https://docs.google.com/document/d/1sKQntaMdGPSwajxx4UcFzC-9h5UeE1-dUCHsJ-N6bjo/edit#heading=h.xvx2rrqrjujw">doc</a>
     </td>
    </tr>
    <tr>
     <td>2/15/2022
     </td>
     <td>Flutter GDE Stack Overflow contribution month
     </td>
     <td>Training "How to Stack Overflow"
     </td>
     <td>online
     </td>
     <td>25
     </td>
     <td><a href="https://drive.google.com/corp/drive/u/0/folders/1FEQocHoxp6b6_qCxvZc0wGT1jp58Py1Z">video</a>, <a href="https://docs.google.com/presentation/d/1OH_ygA-RqkQ_UV_FSFCVbHLzzG0BF3bZ75KjCVmjc4M/edit?resourcekey=0-kzjSzy5dIaLkllfIFbjiOA">deck</a>
     </td>
    </tr>
    <tr>
     <td>2/16/2022
     </td>
     <td>Flutter Puzzle Hack
     </td>
     <td>Speaker
     </td>
     <td>online
     </td>
     <td>100 concurrents
     </td>
     <td><a href="https://youtu.be/kWjJ0aUq5L0?t=533">vod</a>, <a href="https://docs.google.com/presentation/d/1oDT6GsM2-VJUEmOVWs9H2FTa-PGlN7ZyBowQnTzzvAc/edit#slide=id.g111c33869ff_0_3177">deck</a>, <a href="https://docs.google.com/document/d/13eYbe3Y8JqY4bCqiQSStx5irKL2Z23DX-3GGNaSdfnk/edit?resourcekey=0-hp4XEM4OfKJncKA1o1CGhQ#">report</a>
     </td>
    </tr>
    <tr>
     <td>3/24/2022
     </td>
     <td>Flutter Festivals NL
     </td>
     <td>Speaker
     </td>
     <td>NL, but I dialed in
     </td>
     <td>75
     </td>
     <td><a href="https://twitter.com/FlutterNL/status/1505863832346013702">announcement</a>, <a href="https://www.meetup.com/FlutterNL/events/283742843/">meetup.com</a>, <a href="https://twitter.com/_mvolpato/status/1507077862402183173">tweet</a>, <a href="https://twitter.com/FloorRene/status/1507075816747843589">tweet</a>, <a href="https://screenshot.googleplex.com/6MSxwhTT4PebMyR">my view</a>
     </td>
    </tr>
    <tr>
     <td>8/22/2022
     </td>
     <td>FlutterNL and CloudNL
     </td>
     <td>Speaker
     </td>
     <td>Amsterdam, NL
     </td>
     <td>60
     </td>
     <td><a href="https://www.meetup.com/flutternl/events/287721487/">meetup 1</a>, <a href="https://www.meetup.com/gdgcloudnl/events/287856626/">meetup 2</a>,
     </td>
    </tr>
    <tr>
     <td>8/25/2022
     </td>
     <td>Cloud London and Cloud Milton Keynes
     </td>
     <td>Speaker
     </td>
     <td>London, UK +
  <p>
  virtual
     </td>
     <td>35 in-person, 10 virtual
     </td>
     <td><a href="https://twitter.com/gdglondon/status/1560410540102631425">tweet</a>, <a href="https://gdg.community.dev/events/details/google-gdg-london-presents-special-firebase-event-in-london/">page</a>, <a href="https://www.meetup.com/gdglondon/events/287913586/">meetup</a>, <a href="https://twitter.com/gdglondon/status/1562861401563340801">tweet</a>, <a href="https://twitter.com/coderinheels/status/1562874194500911105/photo/1">tweet</a>
     </td>
    </tr>
    <tr>
     <td>9/1/2022
     </td>
     <td>Flutter Vikings
     </td>
     <td>Speaker
     </td>
     <td>Oslo, Norway
     </td>
     <td>90 in-person, 100 virtual
     </td>
     <td><a href="https://twitter.com/gdglondon/status/1560410540102631425">tweet</a>, <a href="https://youtu.be/RMbkg0Q7px8?t=4103">livestream</a>, <a href="https://www.youtube.com/watch?v=4v3EBydJPqQ">video</a>
     </td>
    </tr>
    <tr>
     <td>10/5/2022
     </td>
     <td>Flutter Devcamp London
     </td>
     <td>Speaker
     </td>
     <td>online
     </td>
     <td>50
     </td>
     <td><a href="https://www.youtube.com/watch?v=gm5HkF_vYp0">youtube</a>, but most folks were on zoom, <a href="https://docs.google.com/presentation/d/1QtRW4Qp73Na51oKIH_gu9K7ke6DgxPkaVAAIo2YgBqs/edit?resourcekey=0-TRbaw6BF0H-NwzfLoLqEmg#slide=id.g14632a06229_0_725">slides</a>
     </td>
    </tr>
    <tr>
     <td>10/18/2022
     </td>
     <td>Firebase Summit
     </td>
     <td>Host
     </td>
     <td>New York, NY
     </td>
     <td>250
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>10/20/2022
     </td>
     <td>Firebase DevFest NYC
     </td>
     <td>Speaker, organizer
     </td>
     <td>New York, NY
     </td>
     <td>75
     </td>
     <td><a href="https://docs.google.com/presentation/d/1Y4LQCsA-I8szUE_Vld5o6Hd0QsXpoCyZjolTcjl02bc/edit">slides</a>
     </td>
    </tr>
    <tr>
     <td>11/4/2022
     </td>
     <td>NA Connect - GDE/GDG Summit
     </td>
     <td>Speaker
     </td>
     <td>Sunnyvale, CA
     </td>
     <td>75
     </td>
     <td><a href="https://docs.google.com/presentation/d/1cVJZ2Pu9IxOnfSdpTzNDr-0ZBO5o18U2lLTGai4haeQ/edit">slides</a>, <a href="https://www.youtube.com/watch?v=q-wdjk0P3Ds&t=15254s">video</a>
     </td>
    </tr>
    <tr>
     <td>1/25/2023
     </td>
     <td>Flutter Forward
     </td>
     <td>Speaker in Q&A, 
     </td>
     <td>Nairobi, Kenya
     </td>
     <td>250
     </td>
     <td><a href="https://www.youtube.com/live/zKQYGKAe5W8?feature=share&t=7718">Q&A livestream</a>
     </td>
    </tr>
    <tr>
     <td>1/25/2023
     </td>
     <td>Flutter Forward
     </td>
     <td>Presenter for Codelab/Workshop
     </td>
     <td>Nairobi, Kenya
     </td>
     <td>100 in workshop
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>1/27/2023
     </td>
     <td>GDE Summit Europe
     </td>
     <td>Speaker
     </td>
     <td>Berlin, DE
     </td>
     <td>200 \
  (25 in talk)
     </td>
     <td><a href="https://drive.google.com/file/d/17FwWhwTE4Bgi7nNf1gj5V8TnMuQxrVC5/view?resourcekey=0-z99NPnUwepoHCy8tBRjhTg">overview video</a>
     </td>
    </tr>
    <tr>
     <td>2/11/2023
     </td>
     <td>DevFest Ohio
     </td>
     <td>Speaker
     </td>
     <td>Columbus, OH
     </td>
     <td>100 \
  (25 in talk)
     </td>
     <td><a href="https://docs.google.com/presentation/d/1UWyFJbXRal43laIMJ4xkJjxFQD1kljJyh546OeGTNtA/edit">slides</a>, <a href="https://infotrust.com/articles/ohio-devfest-2023/">speaker report</a>
     </td>
    </tr>
    <tr>
     <td>2/11/2023
     </td>
     <td>DevFest Ohio
     </td>
     <td>Podcast guest
     </td>
     <td>Columbus, OH
     </td>
     <td>
     </td>
     <td><a href="https://www.youtube.com/live/ceU5gEgnsJg?feature=share&t=5572">podcast</a>
     </td>
    </tr>
    <tr>
     <td>4/13/2023
     </td>
     <td>The Front-end Festival
     </td>
     <td>Virtual speaker
     </td>
     <td>Nieuwegein, NL
     </td>
     <td>60
     </td>
     <td><a href="https://twitter.com/Jorrik_Klijnsma/status/1646507424281395200">tweet</a>, <a href="https://twitter.com/henkjurriens/status/1646534283316658178">tweet</a>
     </td>
    </tr>
    <tr>
     <td>6/21/2023
     </td>
     <td>I/O Connect Amsterdam
     </td>
     <td>Speaker in Web Q&A,
     </td>
     <td>Amsterdam, NL
     </td>
     <td>100
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>6/21/2023
     </td>
     <td>I/O Connect Amsterdam
     </td>
     <td>Speaker in Cloud track
     </td>
     <td>Amsterdam, NL
     </td>
     <td>100
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>6/21/2023
     </td>
     <td>I/O Connect Amsterdam
     </td>
     <td>Presenter in Flutter+Firebase workshop
     </td>
     <td>Amsterdam, NL
     </td>
     <td>60
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>7/7/2023
     </td>
     <td>Fluttercon Europe
     </td>
     <td>Speaker in AMA
     </td>
     <td>Berlin, DE
     </td>
     <td>200
     </td>
     <td><a href="https://www.youtube.com/watch?v=pKwB6FS9h3g">livestream</a>
     </td>
    </tr>
    <tr>
     <td>7/7/2023
     </td>
     <td>Fluttercon Europe
     </td>
     <td>Presenter in workshop
     </td>
     <td>Berlin, DE
     </td>
     <td>50
     </td>
     <td><a href="https://twitter.com/tomas_piaggio/status/1677250721815642112">tweet</a>, <a href="https://twitter.com/eminebozd4g/status/1677436476693393408">tweet</a>, <a href="https://twitter.com/invertaseio/status/1677256222037143554">tweet</a>, <a href="https://twitter.com/invertaseio/status/1677263978538385408">tweet</a>
     </td>
    </tr>
    <tr>
     <td>9/21/2023
     </td>
     <td>Innovators Hive at Google Cloud Summit Nordics
     </td>
     <td>Staff booth
     </td>
     <td>Stockholm, SE
     </td>
     <td>300
     </td>
     <td><a href="https://cloudonair.withgoogle.com/events/summit-innovatorshive-connect-stockholm-2023">site</a>
     </td>
    </tr>
    <tr>
     <td>9/26/2023
     </td>
     <td>F3: Flutter Firebase Festival
     </td>
     <td>Co-organizer and host
     </td>
     <td>Prague, CZ
     </td>
     <td>350
     </td>
     <td><a href="https://f3.events">site</a>, <a href="https://twitter.com/search?q=%23f3prague&src=typed_query">tweets</a>
     </td>
    </tr>
    <tr>
     <td>12/2/2023
     </td>
     <td>DevFest Boston
     </td>
     <td>Keynote speaker
     </td>
     <td>Boston, MA
     </td>
     <td>150 attendees, ~80 in the talk
     </td>
     <td><a href="https://gdg.community.dev/events/details/google-gdg-boston-android-presents-devfest-boston-2023-1/">site</a>, <a href="https://www.linkedin.com/feed/update/urn:li:activity:7136791019894775809/">linkedin</a>, <a href="https://twitter.com/AlliGbolahan/status/1730967511837941986">tweet</a>,  <a href="https://twitter.com/AlliGbolahan/status/1731020534681395273">tweet</a>, <a href="https://twitter.com/drcoderz/status/1730955603307106556">tweet</a>, <a href="https://twitter.com/tomas_piaggio/status/1730965144698581139">tweet</a>, <a href="https://twitter.com/aniediudo/status/1731002845531430949">tweet</a>, <a href="https://www.linkedin.com/feed/update/urn:li:activity:7136913057242329088/?commentUrn=urn%3Ali%3Acomment%3A(ugcPost%3A7136913054058852352%2C7137052165046439936)&dashCommentUrn=urn%3Ali%3Afsd_comment%3A(7137052165046439936%2Curn%3Ali%3AugcPost%3A7136913054058852352)">linkedin</a>, <a href="https://www.linkedin.com/posts/tomas-piaggio_devfest-activity-7137553699974881280-NNqU?utm_source=share&utm_medium=member_desktop">linkedin</a>, <a href="https://www.youtube.com/live/LwotFWOgrwk?si=5Y0zcahoXk4UoPOI&t=1113">livestream</a>
     </td>
    </tr>
    <tr>
     <td>4/9/20204
     </td>
     <td>Cloud Next
     </td>
     <td>Speaker and booth staff
     </td>
     <td>Las Vegas, NV
     </td>
     <td>30K attendees, ~60 in my 9am talk on day 3
     </td>
     <td><a href="https://cloud.withgoogle.com/next/session-library?session=DEV247#all">site</a>
     </td>
    </tr>
    <tr>
     <td>5/14/2024
     </td>
     <td>Google I/O
     </td>
     <td>Speaker for What's New in Firebase for gen AI developers, office hours staff, beacon of yellow amongst a sea of black and orange
     </td>
     <td>Mountain View, CA
     </td>
     <td>3½K attendees, 250 in WNiF talk, 3 in OH, ~300 1:1 interactions
     </td>
     <td><a href="https://www.youtube.com/watch?v=2MvV-YX1eKw&t=1151s">video</a>
     </td>
    </tr>
    <tr>
     <td>5/16/2024
     </td>
     <td>NA Connect / GDE Summit
     </td>
     <td>Host of Firebase Q&A
     </td>
     <td>MP7, Sunnyvale, CA
     </td>
     <td>15 GDEs in Q&A, ~50 1:1 hallway interactions
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>7/15/2024
     </td>
     <td>Bring AI into your App meetup
     </td>
     <td>Co-speaker in demo
     </td>
     <td><a href="https://maps.app.goo.gl/brmPJz69JQJ3GnrU7">Google Kyoto West</a>, Bengaluru, India
     </td>
     <td>60
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>7/17/2024
     </td>
     <td>I/O Connect Bengaluru
     </td>
     <td>Firebaser,
  <p>
  Moderator in Q&A, speaker in Q&A
     </td>
     <td>Bengaluru, India
     </td>
     <td>2500 attendees
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>7/18/2024
     </td>
     <td>Customer Advisory Council
     </td>
     <td>Host
     </td>
     <td>Bengaluru, India
     </td>
     <td>25
     </td>
     <td>
     </td>
    </tr>
    <tr>
     <td>9/17/2024
     </td>
     <td>FlutterFlow Developer Conference
     </td>
     <td>Host, speaker
     </td>
     <td>New York, NY
     </td>
     <td>400
     </td>
     <td><a href="https://www.youtube.com/live/3-OggW44lHc?si=ybNRflIxTywsW4GQ&t=569">Video</a>, <a href="https://www.youtube.com/live/3-OggW44lHc?si=OLNSv-UihvpTT8ty&t=6298">Half-time show</a>, <a href="https://www.youtube.com/live/3-OggW44lHc?t=14345s">talk</a>, 
     </td>
    </tr>
    <tr>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
     <td>
     </td>
    </tr>
  </table>
  